{% if values.idModal == null %}
    {% set idModal = 'myModal' %}
{% endif %}

{% if values.ButtonHidden == 'true' or values.ButtonHidden == null %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{idModal}}">    
    {% if values.ModalTextButton == null %}
        {% block textButton %}Action button text{% endblock %}
    {% else %}
        {{values.ModalTextButton}}
    {% endif %}
</button>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% if values.ModalTitle == null %}{% block modalTitle %}Modal title{% endblock %}{% else %}{{values.ModalTitle}}{% endif %}</h4>
            </div>
            <div class="modal-body">
                  {% if values.ModalBody == null %}
                       {% block modalBody %}
                  
                        {% endblock %}   
                  {% else %}
                        {{values.ModalBody}}
                  {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- EndModal -->